@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("/images/background3.jpg"); */
  background-size: cover;
  background-position: center;
}

/* 放大再缩小 */
@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@layer base {
  .cursor-normal {
    cursor: url("/cursor/cursor.cur") 4 4, default;
  }

  .cursor-pointer {
    cursor: url("/cursor/hover.cur") 4 4, pointer;
  }
}

@layer utilities {
  .card {
    border-radius: 6px;
    background-color: #00000040;
    backdrop-filter: blur(10px);
    transform: scale(1);
    transition: backdrop-filter 0.3s, transform 0.3s;
    &:hover {
      transform: scale(1.01);
    }
    &:active {
      transform: scale(0.98);
    }
  }
  
  .card-link {
    &:hover {
      background-color: #00000080;
      transition: background-color 0.3s;
      @apply cursor-pointer;
    }
  }

  .hover-card {
    &:hover {
      background-color: #00000080;
      transition: background-color 0.3s;
      @apply cursor-pointer;
    }
  }
}

.text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

pre.shiki {
  padding: 32px 16px 16px 16px;
  overflow: auto;
}

:root[code-theme="dark"] {
  .shiki {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  
    code {
      .line {
        span {
          color: var(--shiki-dark) !important;
        }
      }
    }
  }
}
